body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor {
  position: relative;
  width: 400px;
}

.personaje {
  width: 130%;
  display: block;
}

.cartel {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 55%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.cartel h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  padding: 6px;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #292e72;
  font-size: 0.9em;
}

button {
  background-color: #225c6b;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #6c052d;
}